body {
    background: rgb(189, 137, 85);
    background: linear-gradient(
        90deg,
        rgb(202, 114, 26) 0%,
        rgb(215, 67, 67) 54%,
        rgb(202, 114, 26) 82%
    );
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
}

#title {
    color: white;
    text-align: center;
}

/* Estilos de barra de busqueda */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#searchInput:focus {
    outline: none;
    border-color: #5c94d6;
    box-shadow: 0 0 5px #5c94d6;
}


/* ESTILOS DE LAS TARJETAS */

.pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;   
}

.pokemon-block {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    justify-content: center;
}

.pokemon-block p {
    margin: 5px;
    text-align: center;
}

.pokemon-block .type {
    font-size: 18px;
    font-weight: bold; 
}

.img-container {
    background-image: url("./Resources/blob.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center  ;
}


.name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
}


.pagination {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.pokemon-block {
    width: 100%;
    height: 100%;
}

/* EFECTO DE AGRANDAR */

.pokemon-block:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* LOADER */

#spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

/* Estilos del modal */
.pokemon-modal-container {
    display: flex;
}

.pokemon-modal-sprite {
    flex: 1;
    margin-right: 10px;
}

.pokemon-modal-sprite img {
    max-width: 100%;
    height: auto;
    min-height: 150px;
    min-width: 150px;
}

.pokemon-modal-sprite img {
    max-width: 100%;
}

.pokemon-modal-info {
    flex: 2;
}

.modal-sprite-container {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
}